
	#time-line-content{
    position:relative;
    margin:0 auto;
    width: 100%; 
    height: 100px;
    z-index: 0;
    box-shadow: 0 5px 5px #DDDDDD;
    background-color: white;
    }
	#time-line-content #line{
    position:absolute;
    top: 45%;
    left: 15%;
    width:70%;
    height:4%;
    border-radius:5px;
    z-index:1;
    }
    #time-line-content #line-front{
    width: 50%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
    #time-line-content #line-back{
    width: 50%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
	#time-line-content #round-front{
    position:absolute;
    top:30%;
    left:12%;
    width:33px;
    height:33px;
	border-radius: 50%;
    z-index:3;
    }
    #time-line-content #round-middle{
    position:absolute;
    top:30%;
    left:45%;
    width:33px;
    height:33px;
	border-radius: 50%;
    z-index:3;
    }
     #time-line-content #round-back{
    position:absolute;
    top:30%;
    left:78%;
    width:33px;
    height:33px;
	border-radius: 50%;
    z-index:3;
    }
    #time-line-content #font-front{
    position:absolute;
    top:70%;
    left:10%;
    font-size: 12px;
    color: #999999;
    z-index:3;
    }
    #time-line-content #font-middle{
    position:absolute;
    top:70%;
    left:43%;
    font-size: 12px;
    color: #CCCCCC;
    z-index:3;
    }
    #time-line-content #font-back{
    position:absolute;
    top:70%;
    left:76%;
    font-size: 12px;
    color: #CCCCCC;
    z-index:3;
    }
	.info{
   	position: relative;
   	height: 40px;
   	width: 90%;
   	margin-left: 5%;
   	margin-top: 20px;
   	font-size: 14px;
   	/*border: 1px solid #CCCCCC;*/
   	}
   	.sfz-front{
   	height: 150px;
   	width: 90%;
   	margin-left: 5%;
   	margin-top: 10px;
   	text-align: center;
   	background-color: white;
   	border: 1px solid #EEEEEE;
   	}
   	.sfz-back{
   	height: 150px;
   	width: 90%;
   	margin-left: 5%;
   	margin-top: 10px;
   	text-align: center;
   	background-color: white;
   	border: 1px solid #EEEEEE;
   	}
   	.bottom-btn{
   	position: fixed;
   	bottom: 0; 
   	width: 100%; 
   	height: 50px; 
   	font-size: 18px; 
   	color:white; 
   	background-color: #CCCCCC;  	
   	}
   	.mui-popover.mui-popover-action .mui-table-view {
    margin: 0px;
    margin-top: 9px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    border-radius: 0px;
	}
	.mui-popover .mui-table-view {
    margin-bottom: 0;
    background-color: white; 
	}
	.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after {
	height: 0;	
	}
    .people-pic input {
        width: 70%;
        border: none;
        height: 30px;
        font-size: 15px;
    }

    .people-pic {
        width: 80%;
        height: 35px;
        margin: auto;
        color: rgb(51, 51, 51);
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 15px;
    }

    .peopleNum {
        background: #fff;
        width: 90%;
        margin: auto;
        padding: 10px 0;
        margin-top: 10px;
    }