	ul,li{list-style: none;}
	#time-line-content{
    position:relative;
    margin:0 auto;
    width: 100%; 
    height: 91px;
    z-index: 0;
    box-shadow: 0 7px 7px #EEEEEE;
    margin-bottom: 7px;
    background-color: white;
    }
	#time-line-content #line{
    position:absolute;
    top: 45%;
    left: 10%;
    width:80%;
    height:5px;
    border-radius:5px;
    z-index:1;
    }
    #time-line-content #line-front{
    width: 33%;
    height: 100%;
    background-color: #6991FE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
    #time-line-content #line-middle{
    width: 33%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
    #time-line-content #line-back{
    width: 33%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
	#time-line-content #round-attribute{
    position:absolute;
    top:30%;
    left:6%;
    width:33px;
    height:33px;
	border-radius: 50px;
    z-index:3;
    }
    #time-line-content #round-description{
    position:absolute;
    top:30%;
    left:31%;
    width:33px;
    height:33px;
	border-radius: 50px;
    z-index:3;
    }
    #time-line-content #round-relate-products{
    position:absolute;
    top:30%;
    left:58%;
    width:33px;
    height:33px;
	border-radius: 50px;
    z-index:3;
    }
    #time-line-content #round-customer-information{
    position:absolute;
    top:30%;
    left:84%;
    width:33px;
    height:33px;
	border-radius: 50px;
    z-index:3;
    }
    #time-line-content #font-attribute{
    position:absolute;
    top:70%;
    left:5%;
    font-size: 12px;
    color: #999999;
    z-index:3;
    }
    #time-line-content #font-description{
    position:absolute;
    top:70%;
    left:29%;
    font-size: 12px;
    color: #999999;
    z-index:3;
    }
    #time-line-content #font-relate-products{
    position:absolute;
    top:70%;
    left:57%;
    font-size: 12px;
    color: #CCCCCC;
    z-index:3;
    }
    #time-line-content #font-customer-information{
    position:absolute;
    top:70%;
    left:82%;
    font-size: 12px;
    color: #CCCCCC;
    z-index:3;
    }
    .case-name{
    position: relative;
    width: 100%;
    height: 90px;
    }
    .case-name-caption{
    position: relative;
    left: 5%;
    top: 20px;
    width: 90%;
    height: 22px;
    font-size: 18px;
    color: #666666;
   /* background-color: #4CD964;*/
    }
    .case-name-input-content{
    position: relative;
    left: 5%;
    top: 25px;
    width: 90%;
    height: 30px;
    border-bottom: 1px solid #EEEEEE;
   /* background-color: #4CD964;*/
    }
    .case-name-input{
    position: absolute;
    left: 0;
    width: 80%;
    height: 25px;
    font-size: 16px;
    color: #CCCCCC;
    border: 0;
    }
    .case-name-icon{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 16px;
    height: 16px;
    }
    .case-image{
    position: relative;
    width: 100%;
    height: 205px;
    /*background-color: #6C91FE;*/	
    }
    .case-image-caption{
    position: relative;
    left: 5%;
    top: 20px;
    width: 90%;
    height: 22px;
    font-size: 18px;
    color: #666666;
   /* background-color: #4CD964;*/
    }
    .case-image-content{
    position: relative;
    left: 5%;
    top: 30px;
    height: 150px;
    width: 90%;
    background-color: #EEEEEE;
    z-index: 1;
    }
    .case-image-album-container{
    position: relative;
    top: 30px;
    left: 20%;
    width: 60%;
    height: 92px;
    display: block;
    }
    .case-image-album{
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
   /* background-color: #4CD964;*/
    }
    .case-image-icon{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    }
    .case-image-album-caption{
    position: relative;
    top: 10px;
    width: 100%;
    height: 22px;
    font-size: 16px;
    color: #999999;
    text-align: center;
  /*  background-color: #4CD964;*/
    }
    .case-image-bg{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
    }
    .case-image-modify-btn{
    position: absolute;
	right: 0;
	bottom: 0;
	width: 45px;
	height: 30px;
	font-size: 14px;
	color: white;
	padding-left: 9px;
	background-color: #777777;
	border: none;
	opacity: 0.8;
	z-index: 1;
    }
    .case-description{
    position: relative;
    width: 100%;
    height: 200px;
   /* background-color: #6C91FE;*/
    }
    .case-description-caption{
    position: relative;
    left: 5%;
    top: 20px;
    width: 90%;
    height: 22px;
    font-size: 18px;
    color: #666666;
    /*background-color: #4CD964;*/
    }
    .case-description-input-content{
    position: absolute;
    left: 5%;
    bottom: 1px;
    width: 90%;
    height: 150px;
    border-bottom: 1px solid #EEEEEE;
    /*background-color: #8A6DE9;*/
    }
    .case-description-input{
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 94%;
    height: 150px;
    font-size: 16px;
    color: #CCCCCC;
    border: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    /*background-color: #4CD964;*/
    }
    .case-description-icon{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 16px;
    height: 16px;
    }
    .batch-case-image{
    position: relative;
    width: 100%;
    height: 50px;
   /* background-color: #6C91FE;	*/
    }
    .batch-case-image-caption{
    position: relative;
    left: 5%;
    top: 20px;
    width: 90%;
    height: 22px;
    font-size: 18px;
    color: #666666;
   /* background-color: #4CD964;*/
    }
    
    .batch-case-image-content{
    position: relative;
    left: 5%;
    top: 20px;
    height: 150px;
    width: 90%;
    margin-bottom: 40px;
    background-color: #EEEEEE;
    }
    .batch-case-image-album{
    position: relative;
    top: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
   /* background-color: #4CD964;*/
    }
    .batch-case-image-icon{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    }
    .batch-case-image-album-caption{
    position: relative;
    top: 40px;
    width: 100%;
    height: 22px;
    font-size: 16px;
    color: #999999;
    text-align: center;
   /* background-color: #4CD964;*/
    }
    .next-btn{
    position: relative;
    top: 0px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 0;
    background-color: #999999;
    }
    .edit-case{
    position: relative;
    width: 100%;
   /* background-color: #4CD964;*/
    }
    #case-pic{
    position: relative;
    left: 5%;
    width: 90%;
    height: 215px;
    z-index: 0;
    }
    #case-pic #edit-function-change{
    position: absolute;
    right: 0;
	bottom: 0;
    width: 45px;
    height: 30px;
    font-size: 14px;
    color: white;
    opacity: 0.9;
    border: 0;
    background-color: #555555;
    z-index: 2;
    }
     #case-pic #edit-function-delete{
    position: absolute;
    right: 45px;
	bottom: 0;
    width: 45px;
    height: 30px;
    color: white;
    opacity: 0.9;
    border: 0;
    background-color: #333333;
    z-index: 2;
    }
    #edit-function-delete .mui-icon {
    font-size: 20px;
    }
    .edit-content{
    position: relative;
    left: 5%;
    height: 50px;
    width: 90%;
    border-bottom: 1px solid #EEEEEE;
   /* background-color: #5E90FF;*/
    }
    .prompt-input{
    position: relative;
    top: 10px;
    float: left;
    width: 80%;
    height: 30px;
    border: 0;
    color: #666666;
    }
    .edit-icon-content{
    position: relative;
    top: 10px;
    float: right;
    width: 20%;
    height: 30px;
    background-color: white;
    }
    .edit-icon-font{
    position: relative;
    top: 5px;
    float: right;
    width: 35px;
    height: 20px;
    font-size: 16px;
    color: #CCCCCC;
    }
    .edit-icon-icon{
    position: relative;
    top: 5px;
    float: right;
    width: 15px;
    height: 20px;
    font-size: 16px;
    color: #CCCCCC;
    }
    .edit-icon-icon .mui-icon{
    font-size: 18px;
    }
	
	.add-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 40px;
		border: 1px dashed #ccc;
		margin: 10px auto 20px auto;
		font-size: 12px;
		color: #999;
	}
	.case-textarea{
		width:90%;
		height:auto;
		margin: 10px auto 0 auto;
	}
	.case-textarea textarea{
		height: 150px;
		font-size: 16px;
		color: #CCCCCC;
		border: 0;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 1px solid #EEEEEE ;
		margin-top: 10px;
	}
	.case-delete{
		right:55px;
	}