
	 #time-line-content{
    position:relative;
    margin:0 auto;
    width: 100%; 
    height: 100px;
    z-index: 0;
    background-color: white;
    }
	#time-line-content #line{
    position:absolute;
    top: 45%;
    left: 5%;
    width:90%;
    height:4%;
    border-radius:5px;
    background-color: #EEEEEE;
    z-index:1;
    }
	#time-line-content #round-front{
    position:absolute;
    top:37%;
    left:20%;
    width:20px;
    height:20px;
    border: 5px solid #C8C7CC;
	background-color: #FFFFFF;
	border-radius: 50%;
    z-index:3;
    }
     #time-line-content #round-back{
    position:absolute;
    top:37%;
    left:75%;
    width:20px;
    height:20px;
    border: 5px solid #6C91FE;
	background-color: #FFFFFF;
	border-radius: 50%;
    z-index:3;
    }
    #time-line-content #font-front{
    position:absolute;
    top:62%;
    left:14%;
    font-size: 15px;
    color: #CCCCCC;
    z-index:3;
    }
    #time-line-content #font-back{
    position:absolute;
    top:62%;
    left:69%;
    font-size: 15px;
    color: #666666;
    z-index:3;
    }
    .reset-pw-container{
    width: 90%;
    height: auto;
    margin-left: 5%;
    }
    .new-pw-container{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EEEEEE;
    }
    .new-pw-caption{
    float: left;
    width: auto;   
    font-size: 15px;
    color: #666666;
    margin-top: 30px;
    }
    .new-pw-input{
    position: relative;
    float: left;
    color: #CCCCCC;
    padding: 0;
    width: 50px;
    height: 40px;
    margin-top: 25px;
    margin-left: 5px;
    }
    input[type=number]{
    height: 30px;
    width: auto;
    padding: 0;
    border: 0;
    font-size: 15px;
	}
	.confirm-pw-container{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EEEEEE;
    }
    .confirm-pw-caption{
    width: auto;
    float: left;
    font-size: 15px;
    color: #666666;
    margin-top: 30px;
    margin-right: 15px;
    }
    .confirm-pw-input{
    float: left;
    color: #CCCCCC;
    padding: 0;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    margin-left: 5px;
    }
    .next-container{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    }
    .next-btn{
    height: 40px;
	width: 100%;
	background-color: #C8C7CC;
	border-radius:25px;
	border: none;
	color: white;
	font-size: 18px;
	margin-top: 30px;
    }
    .bottom-font{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #CCCCCC;
    text-align: center;
    z-index: -1;
    }
