
	#time-line-content{
    position:relative;
    margin:0 auto;
    width: 100%; 
    height: 100px;
    z-index: 0;
    background-color: white;
    }
	#time-line-content #line{
    position:absolute;
    top: 45%;
    left: 5%;
    width:90%;
    height:4%;
    border-radius:5px;
    z-index:1;
    }
    #time-line-content #line-front{
    width: 50%;
    height: 100%;
    background-color: #6C91FE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
    #time-line-content #line-back{
    width: 50%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius:5px;
    z-index:2;
    float: left;
    }
	#time-line-content #round-front{
    position:absolute;
    top:37%;
    left:20%;
    width:20px;
    height:20px;
    border: 5px solid #6C91FE;
	background-color: #FFFFFF;
	border-radius: 50%;
    z-index:3;
    }
    #time-line-content #round-middle{
    position:absolute;
    top:37%;
    left:48%;
    width:20px;
    height:20px;
    border: 5px solid #6C91FE;
	background-color: #FFFFFF;
	border-radius: 50%;
    z-index:3;
    }
     #time-line-content #round-back{
    position:absolute;
    top:37%;
    left:75%;
    width:20px;
    height:20px;
    border: 5px solid #C8C7CC;
	background-color: #FFFFFF;
	border-radius: 50%;
    z-index:3;
    }
    #time-line-content #font-front{
    position:absolute;
    top:62%;
    left:14%;
    font-size: 15px;
    color: #666666;
    z-index:3;
    }
    #time-line-content #font-middle{
    position:absolute;
    top:62%;
    left:42%;
    font-size: 15px;
    color: #666666;
    z-index:3;
    }
    #time-line-content #font-back{
    position:absolute;
    top:62%;
    left:69%;
    font-size: 15px;
    color: #CCCCCC;
    z-index:3;
    }
    .phonetest-content{
    width: 90%;
    height: 255px;
    margin-left: 5%;
   /* border: 1px solid #CCCCCC;*/
    }
    .phone-content{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EEEEEE;
    }
    .phone-info{
    width: 60px;
    float: left;
    font-size: 15px;
    color: #666666;
    margin-top: 30px;
    /*border: 1px solid #CCCCCC;*/
    }
    .phone-number-input{
    float: left;
    color: #999999;
    padding: 0;
    width: 150px;
    height: 40px;
    margin-top: 25px;
    /*border: 1px solid #CCCCCC;*/
    }
    input[type=number]{
    height: 30px;
    padding: 0;
    border: 0;
    font-size: 15px;
	}
	.test-content{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #EEEEEE;
    }
    .test-info{
    width: 60px;
    float: left;
    font-size: 15px;
    color: #666666;
    margin-top: 30px;
    /*border: 1px solid #CCCCCC;*/
    }
    .test-code-input{
    float: left;
    color: #999999;
    padding: 0;
    width: 95px;
    height: 40px;
    margin-top: 25px;
   /* border: 1px solid #CCCCCC;*/
    }
    .test-code-btn{
    float: right;
	margin-top: 25px;
    }
    input[type=button]{
    padding: 3px 5px;
   	color: #6C91FE;
   	width: 87px;
    font-size: 15px;
    border-radius:20px;
    border: 1px solid #6C91FE;
	}
	input[disabled]{
	color: #999999;
	border: 1px solid #CCCCCC;
	}
    .next-content{
    width: 100%;
    height: 80px;
    margin-top: 40px;
   /* border: 1px solid #CCCCCC;*/
    }
    .next-btn{
    height: 40px;
	width: 100%;
	background-color: #C8C7CC;
	border-radius:20px;
	border: none;
	color: white;
	font-size: 18px;
    }
    .had{
    position: absolute;
    right: 5%;
    padding: 0;
    margin-top: 10px;
    border: 0;
    font-size: 15px;
    color: #6C91FE;
    }
    .bottom-font{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #CCCCCC;
    text-align: center;
    z-index: -1;
    }
