
	.search-content{
	width: 100%;
	height: 55px;
	background-color: #EEEEEE;
	}
	.search-input{
	width: 80%;
	height: 35px;
	position: relative;
	left: 5%;
	top: 10px;
	background-color: white;
	border-radius:25px;
	float: left;	
	}
	input[type=text]{
	font-size: 14px; 
	color: #CCCCCC; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	position: relative;
	left: 5%;
	width: 95%;
	height: 35px;
	float: left;
	border-radius:50px;
	}
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
	color: #CCCCCC;
	position: relative;
	left: 0;
	}
	.search-icon{
	float: right;
	position: relative;
	right: 5%;
	top: 18px;
	color: #59C9A5;
	}
	.search-icon .mui-icon{
	font-weight: 900;
	color: #6991FE;
	}
	.not-found-caption{
	position: relative;
	top: 100px;
	height: 20px;
	width: 100%;
	font-size: 15px;
	color: #999999;
	text-align: center;
	}
	.select-procedure{
	position: relative;
	top: 100px;
	height: 20px;
	width: 100%;
	font-size: 15px;
	color: #999999;
	text-align: center;
	}
	.skip-this-step-container{
	position: relative;
	top: 140px;
	height: 44px;
	width: 100%;	
	text-align: center;	
	}
	.skip-this-step-btn{
	height: 44px;
	width: 160px;
	font-size: 18px;
	color: #6C91FE;
	border-radius: 25px;
	border: 1px solid #6C91FE;
	}