
.current-level{width:100%;height:165px;background-color:#444652;overflow: hidden;padding:15px;}
.current-level>div:nth-of-type(1)>div:nth-of-type(1){display: flex;justify-content: space-around;margin-top:15px;border-bottom:1px solid #999999;padding-bottom:25px;}
.current-level>div:nth-of-type(1)>div:nth-of-type(1)>span{text-align: center;}
.current-level>div:nth-of-type(1)>div:nth-of-type(1)>span>span:nth-of-type(1){position: relative;display: inline-block;width:30px;height:30px;border-radius: 100%;background-color:#999999;;}
.current-level>div:nth-of-type(1)>div:nth-of-type(1)>span>span:nth-of-type(2){display: block;color:#ffffff;}
.current-level>div:nth-of-type(1)>div:nth-of-type(2){width:100%;height:5px;margin:-65px auto 0;background-color:#999999;border-radius: 5px;}

.current-level .bg-silver{background:-webkit-linear-gradient(left,#67748B,#8290AB)}
.current-level .bg-gold{background:-webkit-linear-gradient(left,#C09F68,#E8D5A8)}
.current-level .bg-diamonds{background:-webkit-linear-gradient(left,#CB9B97,#EEC9C5)}
.current-level .color-CA9{color:#CA9C68;}
.current-level>div:nth-of-type(2){margin-top:80px;font-size:14px;color:#ffffff;}

.reminder{padding:15px 15px 50px;}

.customer-service{padding:15px;background-color:#f2f2f2;display: flex;flex-direction: row;justify-content: space-around;box-shadow: 0 5px 8px #e4e4e4 inset;}
.customer-service>div{background-color:#ffffff;border-radius: 10px;text-align: center;padding:20px;}
.customer-service>div:nth-of-type(1){margin-right: 15px;}
.customer-service>div span{display: block;}
.customer-service>div>span img{width:80px;height:80px;}

.customer-service>div>span:nth-of-type(1){margin-bottom:10px;}
.customer-service>div>span:nth-of-type(2){position: relative;}
.customer-service>div>span:nth-of-type(2)>span{background-color:#D7D7D7;color:#ffffff;border-radius: 30px;width:50%;bottom:0;}
.customer-service>div>span:nth-of-type(4),
.customer-service>div>span:nth-of-type(5){border:1px solid #cccccc;border-radius: 30px;margin-top:10px;padding:4px 12px;}
