<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>客户案例-案例描述</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/customer_case_description.css" />
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav mui-bar-nav-bg" style="background-color: white; box-shadow: none; border-bottom: 1px solid #EEEEEE;">
			<span class="mui-icon mui-icon-back"></span>
			<span class="mui-title" style="font-size: 18px; color: #333333;">发布案例</span>
		</header>
		<div class="mui-content" style="background-color: white;" id="case_descript">
			<div id="time-line-content">
				<div id="line">
					<div id="line-front"></div>
					<div id="line-middle"></div>
					<div id="line-back"></div>
				</div>
				<div id="round-attribute">
					<img src="../img/attribute.png" style="width: 100%; height: 100%;" />
				</div>
				<div id="round-description">
					<img src="../img/description.png" style="width: 100%; height: 100%;" />
				</div>
				<div id="round-relate-products">
					<img src="../img/relate-products1.png" style="width: 100%; height: 100%;" />
				</div>
				<div id="round-customer-information">
					<img src="../img/customer-information1.png" style="width: 100%; height: 100%;" />
				</div>
				<div id="font-attribute">案例属性</div>
				<div id="font-description">案例描述</div>
				<div id="font-relate-products">关联产品</div>
				<div id="font-customer-information">客户信息</div>
			</div>
			<img id="img">
			<div class="case-name">
				<div class="case-name-caption">
					案例名称
				</div>
				<div class="case-name-input-content">
					<input class="case-name-input" placeholder="请填写案例名称" v-model.trim="form.cases_name" />
					<img src="../img/pen.png" class="case-name-icon" />
				</div>
			</div>
			<div class="case-image">
				<div class="case-image-caption">
					案例形象图
				</div>
				<div class="case-image-content">
					<img :src="form.cases_image" v-if="!!form.cases_image" width="100%" height="100%"/>
					<div class="case-image-album-container" v-else @touchend="tapUpload('')">
						<div class="case-image-album">
							<img src="../img/album.png" class="case-image-icon" />
						</div>
						<div class="case-image-album-caption">
							点击上传案例形象图
						</div>
					</div>
					<button class="case-image-modify-btn" v-if="!!form.cases_image" @touchend="tapUpload">修改</button>
				</div>
			</div>

			<div class="case-description">
				<div class="case-description-caption">
					案例描述
				</div>
				<div class="case-description-input-content">
					<textarea
						class="case-description-input"
						id="case-description"
						placeholder="请填写对该案例的描述（不超过200个字）"
						maxlength="200"
						v-model.trim="form.cases_desc"
					></textarea>
					<img src="../img/pen.png" class="case-description-icon" />
				</div>
			</div>
			
			<div
				v-for="(item,index) in form.cases_renderings"
			>
				<div class="edit-case">
					<div class="case-image">
						<div class="case-image-caption">
							案例图片
						</div>
						<div class="case-image-content">
							<img :src="item.more_rendering" v-if="!!item.more_rendering" width="100%" height="100%"/>
							<div class="case-image-album-container" v-else @touchend="tapUpload(index)">
								<div class="case-image-album">
									<img src="../img/album.png" class="case-image-icon" />
								</div>
								<div class="case-image-album-caption">
									点击上传案例形象图
								</div>
							</div>
							<button class="case-image-modify-btn case-delete" @touchend="tapUpload(index)" v-if="!!item.more_rendering">修改</button>
							<button class="case-image-modify-btn" @touchend="deleteCase(index)">删除</button>
						</div>
					</div>
					
					<div class="edit-content">
						<input class="prompt-input" placeholder="添加图片名称" v-model.trim="item.more_rendering_name"/>
						<div class="edit-icon-content">
							<div class="edit-icon-icon">
								<span class="mui-icon mui-icon-arrowright"></span>
							</div>
							<div class="edit-icon-font">编辑</div>
						</div>
					</div>
					
					<div class="case-textarea">
						<div style="color:#666666;">案例描述</div>
						<textarea
							placeholder="请填写对该案例的描述（不超过200个字）"
							maxlength="200"
							v-model.trim="form.cases_desc"
						></textarea>
					</div>
					
				</div>
			</div>
			
			<div class="add-btn" @touchend="addCaseImg" v-if="form.cases_renderings.length<3">
				<i class="mui-icon mui-icon-plusempty"></i>
				添加案例图片
			</div>
 
			<button class="next-btn" @touchend="next">下一步</button>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/qiniuUploader.js"></script>
	<script type="text/javascript" src="../js/icon-back.js"></script>
	<script src="../js/util.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#case_descript",
			data: {
				uploadIndex:'',
				form: {
					cases_name: '',
					cases_image: '',
					cases_desc: '',
					cases_renderings:[],
				}
			},
			methods: {
				tapUpload(index) {
					this.uploadIndex=index;
					var _self=this;
					if (mui.os.plus) {
						var buttonTit = [{
							title: "拍照"
						}, {
							title: "从手机相册选择"
						}];

						plus.nativeUI.actionSheet({
							title: "上传案例形象图",
							cancel: "取消 ",
							buttons: buttonTit
						}, function(b) { /*actionSheet 按钮点击事件*/
							switch (b.index) {
								case 0:
									break;
								case 1:
									_self.getCamera(); /*拍照*/
									break;
								case 2:
									_self.getgallery(); /*打开相册*/
									break;
								default:
									break;
							}
						})
					}
				},
				getCamera() {
					var _self=this;
					var c = plus.camera.getCamera();
					c.captureImage(function(e) {
						plus.io.resolveLocalFileSystemURL(e, function(entry) {
							var imgSrc = entry.toLocalURL(); //拿到图片路径
							// 上传到七牛
							_self.getQiniuToken(imgSrc);
						}, function(e) {
							console.log("读取拍照文件错误：" + e.message);
						});
					}, function(s) {
						console.log("error" + s);
					}, {
						filename: "_doc/camera/"
					});
				},
				getgallery() {
					// 从相册中选择图片
					var _self=this;
					plus.gallery.pick(function(e) {
						var fileSrc = e.files[0];
						// 上传到七牛
						_self.getQiniuToken(fileSrc);
					}, function(e) {
						console.log("取消选择图片");
					}, {
						filter: "image",
						multiple: true,
						maximum: 1,
						system: false,
						onmaxed: function() {
							plus.nativeUI.alert('最多只能选择1张图片');
						},
					})
				},
				getQiniuToken(src){
					var _self=this;
					$util.uploadToQiniu(src, function(path) {
						if(_self.uploadIndex!==''){
							_self.form.cases_renderings[_self.uploadIndex].more_rendering=path;
						}else
							_self.form.cases_image=src;
					});
				},
				addCaseImg(){
					this.form.cases_renderings.push({
						home_cases_id:'',
						more_rendering:'',
						more_rendering_name:'',
						more_rendering_desc:''
					});
				},
				deleteCase(index){
					var _self=this;
					mui.confirm('确定要删除吗?','提示',['是','否'],function(btn){
						if(btn.index==0){
							_self.form.cases_renderings.splice(index,1);
						}
					})
				},
				next(){
					if(!this.form.cases_name){
						mui.toast('案例名称不可为空');
						return;
					}
					if(!!this.form.cases_renderings.length){
						for(var i=0;i<this.form.cases_renderings.length;i++){
							if(!this.form.cases_renderings[i].more_rendering_name){
								mui.toast('案例名称不可为空');
								return;
							}
						}
					}
					for(var i=0;i<this.form.cases_renderings.length;i++){
						this.form.cases_renderings[i].home_cases_id=this.form.id;
					}
					localStorage.setItem('case',JSON.stringify(this.form));
					mui.openWindow(
						'customer_case_customerInformation.html',
						'customer_case_customerInformation', {}
					);
					if(localStorage.getItem('operatorType')==1){
						localStorage.setItem('case',JSON.stringify(this.form));
						mui.openWindow(
							'customer_case_related_products_none.html',
							'customer_case_related_products_none', {}
						);
					}
					if(localStorage.getItem('operatorType')==2){
						//直接发布案例
						mui.openWindow(
							'customer_case_customerInformation.html',
							'customer_case_customerInformation', {}
						);
					}
				},
			},
			mounted() {
				var _case=JSON.parse(localStorage.getItem('case'));
				for(var key in _case){
					this.form[key]=_case[key];
				}
			}
		})
	</script>

</html>
