<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>客户案例-案例属性</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="../js/jquery-1.11.0.min.js"></script>
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/customer_case_attribute.css" />
</head>

<body style="background-color: white;">
	<header class="mui-bar mui-bar-nav mui-bar-nav-bg" style="background-color: white; box-shadow: none; border-bottom: 1px solid #EEEEEE;">
		<span class="mui-icon mui-icon-back"></span>
		<span class="mui-title" style="font-size: 18px; color: #333333;">发布案例</span>
	</header>
	<div class="mui-content" style="background-color: white;" id="case_attribute">
		<div id="time-line-content">
			<div id="line">
				<div id="line-front"></div>
				<div id="line-middle"></div>
				<div id="line-back"></div>
			</div>
			<div id="round-attribute">
				<img src="../img/attribute.png" style="width: 100%; height: 100%;" />
			</div>
			<div id="round-description">
				<img src="../img/description1.png" style="width: 100%; height: 100%;" />
			</div>
			<div id="round-relate-products">
				<img src="../img/relate-products1.png" style="width: 100%; height: 100%;" />
			</div>
			<div id="round-customer-information">
				<img src="../img/customer-information1.png" style="width: 100%; height: 100%;" />
			</div>
			<div id="font-attribute">案例属性</div>
			<div id="font-description">案例描述</div>
			<div id="font-relate-products">关联产品</div>
			<div id="font-customer-information">客户信息</div>
		</div>
		<div class="caption-content">
			<div class="caption">
				居室
			</div>
		</div>
		<div class="house-content">
			<div
				class="house-btn"
				v-for="tag in js_attr"
				:key="tag.id"
				:class="{'house-btn-select':form.location==tag.entryCode}"
				@click="form.location=tag.entryCode"
			>{{tag.entryDesc}}</div>
		</div>
		<div class="caption-content">
			<div class="caption">
				装修风格
			</div>
		</div>
		<div class="house-content">
			<div
				class="house-btn"
				v-for="tag in fg_attr"
				:key="tag.id"
				:class="{'house-btn-select':form.renovating_style==tag.entryCode}"
				@click="form.renovating_style=tag.entryCode"
			>{{tag.entryDesc}}</div>
		</div>
		<div class="next-btn-content">
			<button class="next-btn" @touchend="next">下一步</button>
		</div>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../js/icon-back.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/util.js"></script>
<script type="text/javascript">
	new Vue({
		el:'#case_attribute',
		data:{
			js_attr:[],//居室属性
			fg_attr:[],//风格属性
			form:{
				id:'',
				location:'',//居室,
				renovating_style:'',//装修风格
				cases_name: '',
				cases_image: '',
				cases_desc: '',
				cases_renderings:[],
				customer_name:'',
				customer_sex:'',
				customer_mobile:'',
				customer_Province:'',
				customer_City:'',
				customer_Area:'',
				customer_village:'',
				customer_ADDRESS:''
			}
		},
		methods:{
			//获取属性
			getAttribute(lx){
				var _self=this;
				$util.http('/api/system-code-types/active/'+lx,{
					type:'get',
					success:function(res){
						if(lx=='roomType'){
							_self.js_attr=res;
						}
						if(lx=='styleType'){
							_self.fg_attr=res;
						}
					}
				})
			},
			//下一步
			next(){
				localStorage.setItem('case',JSON.stringify(this.form));
				mui.openWindow(
						'customer_case_description.html',
						'customer_case_description',
						{}
					)
			}
		},
		mounted(){
			this.getAttribute('roomType');
			this.getAttribute('styleType');
		}
	})
// 	mui.init()
// 	
// 	$('.next-btn').on('tap',function(){
// 		var roomNum = $('.aa').text(),
// 			room = $('.bb').text(),
// 			style = $('.cc').text()
// 			console.log(room)
// 			localStorage.setItem('roomNum',roomNum)
// 			localStorage.setItem('room',room)
// 			localStorage.setItem('style',style)			

// 	})
</script>

</html>